{% extends '@CrosierLibBase/index.html.twig' %}


{% block page_content %}

    {% if is_granted('ROLE_RELVENDAS') %}
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row mt-3">
                    <div class="col-sm-12">

                        <div class="card">


                            <div class="card-header">
                                <div class="d-flex flex-wrap align-items-center">

                                    <div class="d-sm-flex text-nowrap mr-1">
                                        <h3>Vendas</h3>
                                    </div>
                                    <div class="d-sm-flex flex-nowrap ml-auto">

                                        <label for="filter_vendas_grupo" class="my-auto">Grupo: </label>
                                        <select id="filter_vendas_grupo" style="width: 150px" name="filter[vendas][grupo]" class="ml-2"
                                                data-options="{{ grupos }}" data-val="{{ filter.vendas.grupo }}"></select>

                                        <label for="filter_vendas_loja" class="my-auto ml-2">Loja: </label>
                                        <select id="filter_vendas_loja" name="filter[vendas][loja]" class="ml-2"
                                                data-options="{{ lojas }}" data-val="{{ filter.vendas.loja }}"></select>

                                        <label for="filterDts" class="my-auto ml-2">Período: </label>
                                        <input type="text" class="form-control" id="filter_vendas_dts" class="ml-2"
                                               name="filter[vendas][dts]" data-mask="00/00/0000 - 00/00/0000"
                                               style="width: 180px; text-align: center"
                                               value="{{ filter.vendas.dts|default('') }}">
                                    </div>

                                </div>

                            </div>


                            <div class="card-body">

                                <div class="row mt-3">
                                    <div class="col-sm-6">

                                        <div class="card">
                                            <div class="card-header">
                                                <h6>Total por Fornecedor</h6>
                                            </div>
                                            <div class="card-body">

                                                <div id="chart_totalPorFornecedor" style="height: 450px"></div>


                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">

                                        <div class="card">
                                            <div class="card-header">
                                                <h6>Total por Vendedor</h6>
                                            </div>
                                            <div class="card-body">
                                                <div id="chart_totalPorVendedor" style="height: 450px"></div>

                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="row mt-3">
                                    <div class="col-sm-12">

                                        <div class="card">

                                            <div class="card-header">
                                                <div class="d-flex flex-wrap align-items-center">

                                                    <div class="d-sm-flex text-nowrap mr-1">
                                                        <h3>Contas a Pagar/Receber</h3>
                                                    </div>
                                                    <div class="d-sm-flex flex-nowrap ml-auto">

                                                        <select id="filter_contasPagRec_filial" style="width: 450px" name="filter[contasPagRec][filial]"
                                                                data-options="{{ filiais }}" data-val="{{ filter.contasPagRec.filial }}"></select>

                                                        <label for="filterDts" class="my-auto ml-3">Período: </label>
                                                        <input type="text" class="form-control" id="filter_contasPagRec_dts"
                                                               name="filter_contasPagRec[dts]" data-mask="00/00/0000 - 00/00/0000"
                                                               style="width: 180px; text-align: center"
                                                               value="{{ filter.contasPagRec.dts|default('') }}">
                                                    </div>

                                                </div>

                                            </div>


                                            <div class="card-body">

                                                <div id="chart_contasPagarReceber" style="height: 450px"></div>


                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-sm-12">

                                        <div class="card">

                                            <div class="card-header">
                                                <div class="d-flex flex-wrap align-items-center">

                                                    <div class="d-sm-flex text-nowrap mr-1">
                                                        <h3>Compras</h3>
                                                    </div>
                                                    <div class="d-sm-flex flex-nowrap ml-auto">
                                                        <label for="filterDts" class="my-auto">Período: </label>
                                                        <input type="text" class="form-control" id="filter_relCompFor01_dts"
                                                               name="filter_relCompFor01[dts]" data-mask="00/00/0000 - 00/00/0000"
                                                               style="width: 180px; text-align: center"
                                                               value="{{ filter.relCompFor01.dts|default('') }}">
                                                    </div>

                                                </div>

                                            </div>


                                            <div class="card-body">

                                                <div id="chart_relCompFor01" style="height: 450px"></div>


                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    {% endif %}

{% endblock %}

{% block down_scripts %}
    <script src="{{ asset('build/dashboard.js') }}"></script>
{% endblock %}