{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}


    <div class="card">
        <div class="card-header">


            <div class="d-flex flex-wrap align-items-center">

                <div class="d-sm-flex text-nowrap mr-1">
                    <h3>PV</h3>
                </div>
                <div class="d-sm-flex flex-nowrap ml-auto">

                </div>
            </div>


        </div>

        <div class="card-body">

            <div class="form-group">

                <div class="row">
                    <div class="col-md-3">
                        <label class="col-form-label form-control-label" for="pv">PV</label>
                        <input type="number" disabled="disabled" class="form-control" value="{{ venda.json_data['prevenda_ekt'] }}" id="pv">

                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label form-control-label" for="dt_nota">Dt NF</label>
                        <input type="text" disabled="disabled" class="form-control" id="dt_nota"
                               value="{{ venda.dt_nota|date('d/m/Y') }}">
                    </div>
                    <div class="col-md-5">
                        <label class="col-form-label form-control-label" for="cliente">Cliente</label>
                        <input type="text" disabled="disabled" class="form-control" id="cliente"
                               value="{{ venda.json_data['cliente_nome']|default('') }}">
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-5">
                        <label class="col-form-label form-control-label" for="vendedor">Vendedor</label>
                        <input type="text" disabled="disabled" class="form-control"
                               value="{{ venda.json_data['vendedor_codigo']|default('') }} - {{ venda.json_data['vendedor_nome']|default('') }}" id="vendedor">
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label form-control-label" style="white-space: nowrap"
                               for="loja">Loja</label>
                        <input type="text" disabled="disabled" class="form-control" id="loja"
                               value="{{ venda.json_data['loja']|default('') }}">
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label form-control-label" for="grupo">Grupo</label>
                        <input type="text" disabled="disabled" class="form-control" id="grupo"
                               value="{{ venda.json_data['grupo']|default('') }}">
                    </div>
                </div>


            </div>


            <div class="table-responsive-sm">


                <table class="table table-sm table-striped table-hover crsr-datatable" id="datatableItens">

                    <thead>
                    <tr>
                        <th scope="col" title="">#</th>
                        <th scope="col">Código</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Qtde</th>
                        <th scope="col">Rentabilidade</th>
                        <th scope="col">Preço Custo</th>
                        <th scope="col">Preço Venda</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for item in venda.itens %}
                        <tr>
                            <td>
                                <span class="badge badge-pill badge-light">{{ loop.index }}</span>
                            </td>
                            <td>
                                {{ item.json_data['erp_codigo'] }}
                            </td>
                            <td>
                                {{ item.json_data['produto_nome'] }}
                            </td>
                            <td class="text-right">
                                {{ item.qtde }}
                            </td>
                            <td class="text-right" data-order="{{ item.json_data['rentabilidade_item'] }}">
                                {{ item.json_data['rentabilidade_item']|number_format(2,',','.') }}%
                            </td>
                            <td class="text-right" data-order="{{ item.json_data['total_preco_custo'] }}">
                                {{ item.json_data['total_preco_custo']|number_format(2,',','.') }}
                            </td>
                            <td class="text-right" data-order="{{ item.total_item }}">
                                {{ item.total_item|number_format(2,',','.') }}
                            </td>
                        </tr>
                    {% endfor %}


                    </tbody>

                </table>
            </div>

            <hr/>

            <div class="row">

                <div class="col-sm-7"></div>
                <div class="col-sm-5">

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" for="rentabilidade_pv">Rentabilidade</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" id="rentabilidade_pv" name="rentabilidade_pv"
                                       disabled="disabled" class="crsr-money form-control"
                                       value="{{ venda.json_data['rentabilidade_pv']|number_format(2,',','.') }}">
                                <div class="input-group-append"><span class="input-group-text">%</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" style="font-weight: bold">
                        <label class="col-form-label col-sm-3" for="total">Total</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text">R$ </span></div>
                                <input type="text" id="total" name="total"
                                       disabled="disabled" class="crsr-money form-control"
                                       value="{{ venda.valor_total|number_format(2,',','.') }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('Relatorios/itensDoPreVenda') }}
{% endblock %}
