{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}

    <form action="{{ url('ven_venda_listPreVendasPorProduto') }}" method="get" id="formPesquisar">

        <div class="card">
            <div class="card-header">


                <div class="d-flex flex-wrap">

                    <div>
                        <h3>PVs por Produto</h3>
                        <h6>{{ produto }}</h6>
                    </div>
                    <div class="ml-auto justify-content-end text-right">


                        Período: <b>{{ filter.dts }}</b>
                        <br />
                        Grupos: <b>{{ filter.grupos|join(',')|default('TODOS') }}</b>
                        <br />
                        Lojas: <b>{{ filter.lojas|join(',')|default('TODAS') }}</b>
                        <br />

                    </div>
                </div>


            </div>

            <div class="card-body">

                <div class="table-responsive-sm">


                    <table class="table table-sm table-striped table-hover crsr-datatable" id="datatableItens">

                        <thead>
                        <tr>
                            <th scope="col" title="">#</th>
                            <th scope="col">PV</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Dt NF</th>
                            <th scope="col">Total Custo</th>
                            <th scope="col">Total Venda</th>
                            <th scope="col">Rentabilidade</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in dados %}
                            <tr>
                                <td>
                                    <span class="badge badge-pill badge-light">{{ loop.index }}</span>
                                </td>
                                <td>
                                    {{ item.prevenda }}
                                </td>
                                <td>
                                    {{ item.cliente_nome }}
                                </td>
                                <td class="text-center">
                                    {{ item.dt_nota|date('d/m/Y') }}
                                </td>
                                <td class="text-right" data-order="{{ item.total_custo_pv }}">
                                    {{ item.total_custo_pv|number_format(2,',','.') }}
                                </td>
                                <td class="text-right" data-order="{{ item.valor_total }}">
                                    {{ item.valor_total|number_format(2,',','.') }}
                                </td>
                                <td class="text-right" data-order="{{ item.rent }}">
                                    {{ item.rent|number_format(2,',','.') }}%
                                </td>
                                <td class="text-right">
                                    <a class="btn btn-outline-secondary"
                                       href="{{ url('ven_venda_listPreVendaItens', {'pv': item.prevenda}) }}"
                                       role="button">
                                        <i class="far fa-list-alt"></i> Itens
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>

                        <tfoot>

                        <tr style="background-color: antiquewhite; font-weight: bold">
                            <td colspan="5" class="text-right" style="padding: 10px">
                                Total:
                            </td>
                            <td class="text-right" style="padding: 10px">
                                {{ total|number_format(2,',','.') }}
                            </td>
                            <td class="text-right">
                            </td><td class="text-right">
                            </td>

                        </tr>

                        </tfoot>

                    </table>
                </div>
            </div>
        </div>

    </form>
{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('Relatorios/preVendasPorProduto') }}
{% endblock %}
