{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}



    <div class="card">
        <div class="card-header">


            <div class="d-flex flex-wrap align-items-center">

                <div class="d-sm-flex text-nowrap mr-1">
                    <h3>PV Compra</h3>
                </div>
                <div class="d-sm-flex flex-nowrap ml-auto">

                </div>
            </div>


        </div>

        <div class="card-body">

            <div class="form-group">

                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label form-control-label" for="pv">PV</label>
                        <input type="number" disabled="disabled" class="form-control" value="{{ pv }}" id="pv">

                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label form-control-label" for="dtEmissao">Dt Emissão</label>
                        <input type="text" disabled="disabled" class="form-control" id="dtEmissao"
                               value="{{ total.dt_emissao|date('d/m/Y') }}">
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label form-control-label" for="dtPrevEntrega">Dt Prev Entrega</label>
                        <input type="text" disabled="disabled" class="form-control" id="dtPrevEntrega"
                               value="{{ total.dt_prev_entrega|date('d/m/Y') }}">
                    </div>

                </div>

                <div class="row mt-2">
                    <div class="col-md-4">
                        <label class="col-form-label form-control-label" for="vendedor">Comprador</label>
                        <input type="text" disabled="disabled" class="form-control"
                               value="{{ total.cod_vendedor }} - {{ total.nome_vendedor }}" id="vendedor">
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label form-control-label" style="white-space: nowrap"
                               for="dtEmissao">Loja</label>
                        <input type="text" disabled="disabled" class="form-control" id="loja"
                               value="{{ total.loja }}">
                    </div>
                </div>


            </div>


            <div class="table-responsive-sm">


                <table class="table table-sm table-striped table-hover crsr-datatable" id="datatableItens">

                    <thead>
                    <tr>
                        <th scope="col" title="">#</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Fornecedor</th>
                        <th scope="col">Qtde</th>
                        <th scope="col">Rentabilidade</th>
                        <th scope="col">Preço Custo</th>
                        <th scope="col">Preço Venda</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for item in dados %}
                        <tr>
                            <td>
                                <span class="badge badge-pill badge-light">{{ loop.index }}</span>
                            </td>
                            <td>
                                {{ item.cod_prod }} - {{ item.desc_prod }}
                            </td>
                            <td>
                                {{ item.cod_fornec }} - {{ item.nome_fornec }}
                            </td>
                            <td class="text-right">
                                {{ item.qtde }}
                            </td>
                            <td class="text-right" data-order="{{ item.rent }}">
                                {{ item.rent|number_format(2,',','.') }}%
                            </td>
                            <td class="text-right" data-order="{{ item.total_preco_custo }}">
                                {{ item.total_preco_custo|number_format(2,',','.') }}
                            </td>
                            <td class="text-right" data-order="{{ item.total_preco_venda }}">
                                {{ item.total_preco_venda|number_format(2,',','.') }}
                            </td>
                        </tr>
                    {% endfor %}


                    </tbody>

                </table>
            </div>

            <hr/>


            <div class="row">

                <div class="col-sm-7"></div>
                <div class="col-sm-5">
                    <div class="form-group row" style="font-weight: bold">
                        <label class="col-form-label col-sm-3" for="total">Total</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text">R$ </span></div>
                                <input type="text" id="total" name="total"
                                       disabled="disabled" class="crsr-money form-control"
                                       value="{{ total.total_venda_pv|number_format(2,',','.') }}">
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

{% endblock %}

