{% extends '@CrosierLibBase/list.html.twig' %}


{% block btns %}
    {{ parent() }}

    <button type="button" data-url="{{ url('relEstoque01_imprimirListaReposicao', {'filter': filter}) }}"
            class="btn btn-warning ml-1" title="Imprimir Lista de Reposição"
            id="btnImprimirListaReposicao" name="btnImprimirListaReposicao" value="btnImprimirListaReposicao">
        <i class="fas fa-print"></i> Imprimir
    </button>

    <a role="button" href="{{ url('relEstoque01_carrinho_exibir', {'filter': filter}) }}"
            class="btn btn-dark ml-1">
        <i class="fas fa-truck"></i> Ver Carrinho <span class="badge badge-light">{{ qtdeProdutosNoCarrinho }}</span>
    </a>

    {% if filter.codFornecedor|default('') != '' %}
        <a role="button" href="#" data-target="#confirmationModal" data-toggle="modal"
           data-url="{{ url('relEstoque01_carrinho_adicionarTudoNoCarrinho', {'filter': filter, 'reposicao': true}) }}"
           class="btn btn-primary ml-1"
           title="Adicionar todos os produtos do fornecedor listado ao carrinho">
            <i class="fas fa-folder-plus"></i> Adicionar Tudo</a>
    {% endif %}

{% endblock %}


{% block campos_pesquisar %}

    <div class="form-group">
        <label for="filter_filial">Filial</label>
        <select id="filter_filial"
                name="filter[descFilial]" class="form-control ml-2 autoSelect2"
                data-options="{{ filiais }}"
                data-val="{{ filter.descFilial|default('') }}"></select>
    </div>

    <div class="form-group">
        <label for="filter_codFornecedor">Fornecedor</label>
        <select id="filter_codFornecedor"
                name="filter[codFornecedor]" class="form-control ml-2 autoSelect2"
                data-options="{{ fornecedores }}"
                data-val="{{ filter.codFornecedor|default('') }}"></select>
    </div>

    <div class="form-group">
        <label for="filter_dtUltSaidaApartirDe">Dt Últ Venda (a partir de)</label>
        <div class="row">
            <div class="col">
                <input type="date" size="15" class="form-control" name="filter[dtUltSaidaApartirDe]"
                       value="{{ filter.dtUltSaidaApartirDe|default('') }}" id="filter_dtUltSaidaApartirDe">
            </div>
        </div>
    </div>


{% endblock %}


{% block down_scripts %}
    <script src="{{ asset('build/Relatorios/relEstoque01_list_reposicao.js') }}"></script>
{% endblock %}
