{% extends '@CrosierLibBase/list.html.twig' %}


{% block btns %}
    {{ parent() }}

    <button type="button" data-url="{{ url('relEstoque01_imprimirListaReposicao', {'filter': filter}) }}"
            class="btn btn-warning ml-1" title="Imprimir Lista de Reposição"
            id="btnImprimirListaReposicao" name="btnImprimirListaReposicao" value="btnImprimirListaReposicao">
        <i class="fas fa-print"></i> Imprimir
    </button>

    <button type="button" data-form="form_relEstoque01List_reposicao"
            data-target="#confirmationModal" data-toggle="modal"
            class="btn btn-dark ml-1" title="Gerar Pedido de Compra"
            id="btnGerarPedidoCompra" name="btnGerarPedidoCompra" value="btnGerarPedidoCompra">
        <i class="fas fa-truck"></i> Gerar Pedido
    </button>

{% endblock %}


{% block campos_pesquisar %}

    <div class="form-group">
        <label for="p_filial">Filial</label>
        <select id="filter_filial"
                name="filter[descFilial]" class="form-control ml-2 autoSelect2"
                data-options="{{ filiais }}"
                data-val="{{ filter.descFilial|default('') }}"></select>
    </div>

    <div class="form-group">
        <label for="p_fornecedor">Fornecedor</label>
        <select id="filter_fornecedor"
                name="filter[nomeFornecedor]" class="form-control ml-2 autoSelect2"
                data-options="{{ fornecedores }}"
                data-val="{{ filter.nomeFornecedor|default('') }}"></select>
    </div>

    <div class="form-group">
        <label>Dt Últ Venda (a partir de)</label>
        <div class="row">
            <div class="col">
                <input type="date" size="15" class="form-control" name="filter[dtUltSaidaApartirDe]"
                       value="{{ filter.dtUltSaidaApartirDe|default('') }}">
            </div>
        </div>
    </div>


{% endblock %}


{% block down_scripts %}
    <script src="{{ asset('build/Relatorios/relEstoque01_list_reposicao.js') }}"></script>
{% endblock %}
