{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}

    <form action="{{ url('relVendas01_listPreVendasPorProduto') }}" method="get" id="formPesquisar">

        <div class="card">
            <div class="card-header">


                <div class="d-flex flex-wrap align-items-center">

                    <div class="mr-1">
                        <h3>PVs por Produto ({{ produto }})</h3>
                        {% if filter.loja %}
                            <h6>Loja: {{ filter.loja }}</h6>
                        {% endif %}
                        {% if filter.grupo %}
                            <h6>Grupo: {{ filter.grupo }}</h6>
                        {% endif %}
                    </div>
                    <div class="d-sm-flex flex-nowrap ml-auto">


                    </div>
                </div>


            </div>

            <div class="card-body">

                <div class="table-responsive-sm">


                    <table class="table table-sm table-striped table-hover crsr-datatable" id="datatableItens">

                        <thead>
                        <tr>
                            <th scope="col" title="">#</th>
                            <th scope="col">PV</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Dt Emissão</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Total Venda</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in dados %}
                            <tr>
                                <td>
                                    <span class="badge badge-pill badge-light">{{ loop.index }}</span>
                                </td>
                                <td>
                                    {{ item.prevenda }}
                                </td>
                                <td>
                                    {{ item.cliente_pv }}
                                </td>
                                <td class="text-center">
                                    {{ item.dt_emissao|date('d/m/Y') }}
                                </td>
                                <td>
                                    {{ item.cod_vendedor }} - {{ item.nome_vendedor }}
                                </td>
                                <td class="text-right" data-order="{{ item.total_venda_pv }}">
                                    {{ item.total_venda_pv|number_format(2,',','.') }}
                                </td>
                                <td class="text-right">
                                    <a class="btn btn-outline-secondary"
                                       href="{{ url('relVendas01_preVendaItens', {'pv': item.prevenda}) }}"
                                       role="button">
                                        <i class="far fa-list-alt"></i> Itens
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>

                        <tfoot>

                        <tr style="background-color: antiquewhite; font-weight: bold">
                            <td colspan="5" class="text-right">
                                Total:
                            </td>
                            <td class="text-right" style="padding: 10px">
                                {{ total|number_format(2,',','.') }}
                            </td>
                            <td class="text-right">
                            </td>

                        </tr>

                        </tfoot>

                    </table>
                </div>
            </div>
        </div>

    </form>
{% endblock %}


{% block down_scripts %}
    <script src="{{ asset('build/Relatorios/relVendas01_preVendasPorProduto.js') }}"></script>
{% endblock %}
