{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}

    <form action="{{ url('relVendas01_listPreVendasPorVendedor') }}" method="get" id="formPesquisar">

        <div class="card">
            <div class="card-header">


                <div class="d-flex flex-wrap align-items-center">

                    <div class="d-sm-flex text-nowrap mr-1">
                        <h3>PVs por Vendedor</h3>
                    </div>
                    <div class="d-sm-flex flex-nowrap ml-auto">

                        {% if filter.codProduto is defined %}
                        <input type="hidden" name="filter[codProduto]" value="{{ filter.codProduto }}" />
                        {% endif %}

                        {% if filter.vendedor is defined %}
                        <select id="filter_vendedor" name="filter[vendedor]"
                                data-options="{{ vendedores }}" data-val="{{ filter.vendedor }}"></select>
                        {% endif %}

                        <input type="text" class="form-control ml-2" id="filterDts"
                               name="filter[dts]" data-mask="00/00/0000 - 00/00/0000"
                               style="width: 180px; text-align: center"
                               value="{{ filter.dts|default('') }}">

                        <button class="btn btn-outline-success ml-1"
                                type="button" id="btnAnterior" title="Anterior"
                                data-ante-periodoi="{{ antePeriodoI }}"
                                data-ante-periodof="{{ antePeriodoF }}">
                            <i class="fas fa-chevron-left"></i></button>
                        <button class="btn btn-outline-success ml-1"
                                type="button" id="btnProximo" title="Próximo"
                                data-prox-periodoi="{{ proxPeriodoI }}"
                                data-prox-periodof="{{ proxPeriodoF }}">
                            <i class="fas fa-chevron-right"></i></button>

                    </div>
                </div>


            </div>

            <div class="card-body">

                <div class="table-responsive-sm">


                    <table class="table table-sm table-striped table-hover crsr-datatable" id="datatableItens">

                        <thead>
                        <tr>
                            <th scope="col" title="">#</th>
                            <th scope="col">PV</th>
                            <th scope="col">Dt Emissão</th>
                            <th scope="col">Vendedor</th>
                            <th scope="col">Total Venda</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in dados %}
                            <tr>
                                <td>
                                    <span class="badge badge-pill badge-light">{{ loop.index }}</span>
                                </td>
                                <td>
                                    {{ item.prevenda }}
                                </td>
                                <td class="text-center">
                                    {{ item.dt_emissao|date('d/m/Y') }}
                                </td>
                                <td>
                                    {{ item.cod_vendedor }} - {{ item.nome_vendedor }}
                                </td>
                                <td class="text-right" data-order="{{ item.total_pv }}">
                                    {{ item.total_pv|number_format(2,',','.') }}
                                </td>
                                <td class="text-right">
                                    <a class="btn btn-outline-primary" href="{{ url('relVendas01_preVendaItens', {'pv': item.prevenda}) }}" role="button">
                                        <i class="far fa-list-alt"></i> Itens
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}



                        </tbody>

                        <tfoot>

                        <tr style="background-color: antiquewhite; font-weight: bold">
                            <td colspan="4" class="text-right">
                                Total:
                            </td>
                            <td class="text-right" style="padding: 10px">
                                {{ total|number_format(2,',','.') }}
                            </td>
                            <td class="text-right">
                            </td>

                        </tr>

                        </tfoot>

                    </table>
                </div>
            </div>
        </div>

    </form>
{% endblock %}


{% block down_scripts %}
    <script src="{{ asset('build/Relatorios/relVendas01_preVendasPorVendedor.js') }}"></script>
{% endblock %}
